*,*:before,*:after{
padding:0;
margin:0;
box-sizing:border-box; 
}
input,textarea{
outline:none
}   
button,input[type="submit"]{
outline:none;
border:none;
box-shadow: none!important;
}
button:hover,input[type="submit"]{
cursor:pointer;
transform: translateY(-0.25em);
}
li,a{
text-decoration:none!important;
list-style: none;
}
a{
color:#fff!important
}
.text-pink{
   color:#C53678;
}
.bg-purple{
    background:#001233 ;
}
.border-left-pink{
    border-left: 1px solid #C53678;
}
.pt-100{
    padding-top: 100px;
}
.pb-70{
    padding-bottom: 70px;
}
.max-w{
    max-width: 750px;
}
#header-section{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 999;
}
.topbar{
    background: transparent!important;
}
.topbar-right li{
    display:inline-block;
}
.navigation{
    background:#00123382 ;
}
.sliding-navigation{
    background:#001233 ;
    position: fixed;
    top:0;
    display: block;
    transition: background 0.5s;
    margin: auto;
    margin-bottom: 2rem;
    width: 100%!important;
    
    
}
.nav-link{
    color: #fff!important;
    font-weight: bold!important;
}
#banner-area{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vw;
    max-height: 40rem;
    min-height: 20rem;
    overflow: hidden;
    background-image: url(../images/pawel-czerwinski-fPN1w7bIuNU-unsplash.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 120px;
    
   
}
.dropdown-menu{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    border-top: 2px solid #C53678!important;
    width: 250px;
}
.dropdown-item{
    font-size: 15.5px;
    color: #000219;
    position: relative;
    padding: 10px 15px;
    border-bottom: 1px dashed #eee;
    margin-left: 0;
    margin-right: 0;
    text-transform: capitalize;
    display: block;
    font-weight: 600;
}
.banner-content h1{
    font-size: 60px;
}
.default-btn {
    z-index: 1;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    padding: 15px 30px 16px;
    line-height: 1;
    -webkit-transition: all ease .5s;
    transition: all ease .5s;
    text-align: center;
    background-color:#C53678;
    position: relative;
    overflow: hidden;
}
.default-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: -webkit-gradient(linear, right top, left top, from(#ffffff), to(transparent));
    background: linear-gradient(right, #ffffff, transparent);
    -webkit-animation: right 2s linear infinite;
    animation: right 2s linear infinite;
}
@keyframes right{
from{transform: translateX(-300px);}
to{transform: translateX(0px);}
}
.default-btn::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: -webkit-gradient(linear, left top, right top, from(#ffffff), to(transparent));
    background: linear-gradient(left, #ffffff, transparent);
    -webkit-animation: left 2s linear infinite;
    animation: left 2s linear infinite;
}
@keyframes left{
    from{transform: translateX(300px);}
    to{transform: translateX(0px);}
    }
.video-btn {
    display: inline-block;
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    border-radius: 0;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: rgba(255, 42, 96, .9);
    border-radius: 50%;
    -webkit-transition: all ease .5s;
    transition: all ease .5s;
}
.video-btn::after, .video-btn::before {
    content: "";
    display: block;
    position: absolute;
    transform: translate(50%, 50%);
    z-index: -1;
    border-radius: 0;
    border-radius: 50%;
    -webkit-transition: all ease .5s;
    transition: all ease .5s;
    -webkit-animation: ripple 1.6s ease-out infinite;
    animation: ripple 1.6s ease-out infinite;
    background-color: rgba(255, 42, 96, .9);
}
.bx-play{
    font-size: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}
/* @keyframes ripple{
    0%{
        width: 0px;
        height: 0px;
    }
    100%{
        width:50px;
        height: 50px;
    }
} */

.default-btn span::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(transparent));
    background: linear-gradient(top, #ffffff, transparent);
    -webkit-animation: top 2s linear infinite;
    animation: top 2s linear infinite;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
@keyframes top {
    from{transform: translateY(150px);}
    to{transform: translateY(0px);}

}
.default-btn span::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: -webkit-gradient(linear, left bottom, left top, from(#ffffff), to(transparent));
    background: linear-gradient(bottom, #ffffff, transparent);
    -webkit-animation: bottom 2s linear infinite;
    animation: bottom 2s linear infinite;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
@keyframes bottom {
    from{transform: translateY(-150px);}
    to{transform: translateY(0px);}

}
.phone-btn{
    display: none;
}
.card{
    background: #001233 !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    color: #fff!important;
}
.cards{
    padding-bottom: 100px;
    margin-top: -120px;
}
.bi-sliders{
    transition: all ease.5s;
    color:#C53678
}
.card{
    transition: all ease .5s;
    position: relative;
}
.card::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: -webkit-gradient(linear, left top, right top, from(#C53678), to(transparent));
    background: linear-gradient(left, #C53678, transparent);
    -webkit-transition: all ease .5s;
    transition: all ease .5s;
    opacity: 0;
    z-index: 1;
}
.card::after {
    content: "";
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: -webkit-gradient(linear, left top, right top, from(#C53678), to(transparent));
    background: linear-gradient(left, #C53678, transparent);
    -webkit-transition: all ease .5s;
    transition: all ease .5s;
    opacity: 0;
    z-index: 1;
}
.card-body::before{
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: -webkit-gradient(linear, left top, right top, from(transparent), to(#C53678));
    background: linear-gradient(left, transparent, #C53678);
    -webkit-transition: all ease .5s;
    transition: all ease .5s;
    opacity: 0;
}
.card-body::after{
    content: "";
    position: absolute;
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: -webkit-gradient(linear, left top, right top, from(transparent), to(#C53678));
    background: linear-gradient(left, transparent, #C53678);
    -webkit-transition: all ease .5s;
    transition: all ease .5s;
    opacity: 0;
}
.card:hover .card-body::before{
    left: 30px;
    opacity: 1;
}
.card:hover .card-body::after{
    top: 30px;
    opacity: 1;

}
.card:hover::before {
    right: 30px;
    opacity: 1;
}
.card:hover::after {
    bottom: 30px;
    opacity: 1;

}
.card:hover{
    transform: translateY(-5px);
}
.card:hover .bi-sliders{
    color: #fff!important;
    transform: rotateY(360deg);
}
.card:hover .title-card{
    color:#C53678!important
}
.approach-title{
    max-width: 750px;
    margin: 0 auto;
    margin-bottom: 60px;
    text-align: center;
}
.approach-title h2{
 font-size: 40px;
}
.single-approach{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    transition: all ease in .5s;
}
.single-approach-hover:hover{
    background-color: #001233;
    color:#fff;
}
.single-approach-hoverw:hover{
    background-color: #fff;
    color:#001233!important;
}

.pb-70{
    padding-bottom:70px;
}
.privacy{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vw;
    max-height: 40rem;
    min-height: 20rem;
    overflow: hidden;
    background-image: url(../images/adi-goldstein-EUsVwEOsblE-unsplash.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top:55px ;
    padding-bottom: 70px;
}
.privacy::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000219;
        opacity: .75;

    }
.privacy-title{
    max-width: 750px;
    margin: -5px auto 50px;
}
.privacy-title h2{
    font-size: 40px;
}
.single-challenges{
    padding: 30px 25px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
}
.services > .container > .section-title{
    margin: -5px auto 50px;
}
.services-img a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left bottom, left top, from(#000219), to(transparent));
    background: linear-gradient(bottom, #000219, transparent);
}
.services-content{
    position: absolute;
    bottom:-120px;
    left: 0;
    right: 0;
    transition: all ease-in .3s;
    padding: 30px;
    color: #fff;
}
.single-services:hover .services-content {
  bottom: 0;
}
.single-services{
    transition: all ease-in .3s;
    overflow:hidden;
    margin-bottom:30px;
    position:relative;
    max-height:20rem
}
.read-more{
    color:#C53678!important;
    font-weight:600;
}
.single-services:hover{ 
    transform: translateY(-5px);
}
.testimonials{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vw;
    max-height: 40rem;
    min-height: 20rem;
    overflow: hidden;
    background-image: url(../images/shubham-dhage-JlijbOtSWuw-unsplash.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top:100px ;
    padding-bottom: 70px;
}
.carousel{
    text-align: center;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}
.carousel-control-prev{
    left:-150px!important;
}
.carousel-control-next{
    right:-150px!important;
}
.carousel li{
    display:inline-block;
}

.get-in-touch{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vw;
    max-height: 40rem;
    min-height: 20rem;
    overflow: hidden;
    background-image: url(../images/shubham-dhage-T9rKvI3N0NM-unsplash.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top:100px ;
    padding-bottom: 70px;
}
footer{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vw;
    max-height: 30rem;
    min-height: 10rem;
    overflow: hidden;
    background-image: url(../images/nenad-novakovic-L2QB-rG5NM0-unsplash.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top:100px ;
    padding-bottom: 40px;
}
.testimonials::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000219;
    opacity: .75;
    z-index: -1;
}
.get-in-touch::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000219;
    opacity: .75;
    z-index: -1;
}
.get-in-touch-form{
    
        text-align: center;
        max-width: 810px;
        margin: auto;

}
.form-control{
    background-color: #fff;
    border: none !important;
    height: 50px;
    padding-left: 15px;
}
.subscribe-bg{
    background:#f0f0fa ;
}
.subscribe-content{
    padding-left: 100px;
}
.social-icon li{
    display: inline-block;
    margin-right: 5px;
}
.social-icon li a{
    display: inline-block;
    -webkit-transition: all ease .5s;
    transition: all ease .5s;
    text-decoration: none;
    color: #4b5280;
}
.social-icon li a:hover{
    transform: translateY(-2px);
}
.social-icon li a:hover i{
    background-color:#C53678;
}

.social-icon li a i{
    width: 38px;
    height: 38px;
    line-height: 38px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    -webkit-transition: all ease .5s;
    transition: all ease .5s;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, .1);
}
footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000219;
    opacity: .75;
    z-index: -1;
}
.single-footer-widget h3::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
}
.single-footer-widget .import-link li::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: #C53678;
    -webkit-transition: all ease .5s;
    transition: all ease .5s;
}
.single-footer-widget .import-link li:hover::before {
    border-radius: 50%;
}
.copyright{
    border-top: 1px solid #C53678;
}

/* .single-footer-widget .address li{
    padding-left:
} */
.single-footer-widget .address li i {
    position: absolute;
    color: #C53678;
    left: 0;
    top: 5px;
    font-size: 25px;
}
.swiper {
    width: 900px;
    height: 300px;
  }
@media screen and (max-width: 500px) {
.navbar-brand{
    flex: 0 0 auto;
    width: 33.3333%;
}

.phone-btn{
    display: block!important;
}  
.button{
    display: none;
}  
}
@media screen and (max-width:768px) {
    .navbar-collapse{
        background: #001233;
        border-top: 2px solid #C53678;
        border-bottom: 2px solid #C53678;
    }
    
}
